<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- ---- Include the above in your HEAD tag -------- -->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- ---- Include the above in your HEAD tag -------- -->

<head>
  <title>マイページ</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
	
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" th:href="@{/cb/{id}(id=${customerId})}">マイページ</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" th:href="@{/cb/{id}/book/list(id=${customerId})}">マイブック</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  th:href="@{/cb/{id}/book(id=${customerId})}">ブック購入</a>
  </li>
  <li class="nav-item">
    <a class="nav-link justify-content-end" data-toggle="modal" data-target="#myModal">退会</a>
  </li>
</ul> 





 <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">退会ボタンが押されました。
            <br>
          退会するとデータはすべて削除されます。</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
        本当に退会しますか？
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="btn-group">
          <button type="button" class="btn btn-danger" data-dismiss="modal">はい</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">いいえ</button>
        </div>
        </div>
        
      </div>
    </div>
  </div>


<form th:action="@{/cb/{id}/book(id=${customerId})}" th:method="post">
 <div class="container">
      <h1>本一覧</h1>
      <table class="table">
        <thead>
          <tr>
            <th>BookID</th>
            <th>書籍名</th>
            <th>出版社</th>
            <th>値段</th>
            <th>発売日</th>
            <th>購入有無</th>
            
          </tr>
        </thead>
         <tbody>
          <tr th:each="book:${books}" th:object="${book}">
            <td th:text="*{BookId}"></td>
            <td th:text="*{bookName}"></td>
            <td th:text="*{bookPublisher}"></td>
            <td th:text="*{bookPrice}"></td>
            <td th:text="*{bookReleaseDay}"></td>
            <td><input type="checkbox" th:name="buyCheck" th:value="*{bookId}" /></td>
          </tr>
        </tbody>
      </table>
       <button class="btn btn-primary btn-lg float-right" type="submit">購入</button>
    </div>
    </form>

  </html>